name: letsmeet
services:
  db:
    image: postgres:18-alpine
    container_name: letsmeet_db
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"

  api:
    build:
      context: ./backend
    container_name: letsmeet_backend
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - JWT_SECRET=${JWT_SECRET:-devsecret}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    depends_on:
      - db
